<div class="container" style="padding-top: 20px;">
    <h2>Product List</h2>
    <div class="row"style="padding-top: 20px;">
        <div class="col-sm" *ngFor="let product of products; let productId = index">
            <a [routerLink]="[product._id]">
                <div class="card">
                    <img src={{product.image}} class="card-img-top" alt="placeholder">
                    <div class="card-body">
                        <p class="card-title">{{product.name}}</p>
                        <p class="card-text">{{product.description}}</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>